body {
    font-family: "American Western", sans-serif;
    background-color: #f5ecd5;
    background-image: url('https://c1.wallpaperflare.com/preview/410/412/858/background-tree-wood-boards.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5); /* Adiciona uma sombra para simular umidade */
}

h1:first-of-type {
    text-align: center;
    margin-top: 50px;
    color: #000000;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); 
    font-size: 90px;
}

h1:last-of-type {
    text-align: center;
    margin-top: 40px;
    color: #000000; 
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    font-size: 60px;
}

.cartaz-de-procurado-container {
    display: flex;
    justify-content: space-between;
    margin: 55px auto;
    max-width: 1400px;
    height: 700px;
}

.cartaz, .cartaz2, .cartaz3 {
    flex-grow: 1; /* Para ocupar o espaço disponível igualmente */
    width: calc(40% - 10px); /* Define uma largura fixa para os cartazes */
    padding: 20px;
    background-color: #f1dcb1;
    border: 2px solid #88683a; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s ease; /* Adiciona transição para o efeito de zoom */
    background-image: url('https://st2.depositphotos.com/3647713/49332/i/450/depositphotos_493328306-stock-photo-old-grunge-antique-paper-texture.jpg');
    background-repeat: no-repeat;
    margin-bottom: 60px; /* Espaçamento entre os cartazes */
    margin-top: 60px;
}

.cartaz:not(:last-child), .cartaz2:not(:last-child), .cartaz3:not(:last-child) {
    margin-right: 100px; /* Adiciona margem à direita de cada cartaz, exceto o último */
}

.cartaz:hover, .cartaz2:hover, .cartaz3:hover {
    transform: scale(1.40); /* Efeito de zoom */
}
/*Adptar para tela de celular (falta testar)*/
@media screen and (max-width: 1100px) {
    .cartaz, .cartaz2, .cartaz3 {
        width: 31%; /* Ajusta a largura dos cartazes para caberem em telas menores */
    }
}


.titulo {
    text-align: center;
    margin-bottom: 20px;
}

.titulo h1 {
    font-size: 36px;
    margin: 0;
}

.titulo h2 {
    font-size: 24px;
    margin-top: 5px;
}

.cartaz .titulo h1,
.cartaz .titulo h2,
.cartaz2 .titulo h1,
.cartaz2 .titulo h2,
.cartaz3 .titulo h1,
.cartaz3 .titulo h2,
.cartaz .poster p,
.cartaz2 .poster p,
.cartaz3 .poster p {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    overflow: hidden;
}


.foto {
    width: 80px;
    height: 100px;
    margin: 0 auto 20px;    
}

.poster {
    text-align: left;
}

.poster p {
    font-size: 20px;
    margin: 20px 0 10px 10px;
}

.container {
    max-width: 1100px;
    margin: 20px auto;
    padding: 20px;
}

.icones-container {
    display: flex;
    justify-content: space-between;
}

.icone {
    position: relative;
    width: calc(20% - 20px);
    padding: 10px;
    background-color: none;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; 
}

.icone img {
    max-width: 100%;
    height: auto;
    display: block; /* Garante que a imagem se ajuste corretamente dentro do link */
}

.icone a {
    display: block; /* Garante que o link ocupe todo o espaço do ícone */
    text-decoration: none;
    color: inherit; /* Herda a cor do texto do contêiner pai */
}

.icone:hover {
    transform: scale(1.50);
}

.icone:not(:last-child), .icone2:not(:last-child), .icone3:not(:last-child) {
    margin-right: 150px; /* Adiciona margem à direita de cada cartaz, exceto o último */
}